body {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.aboutBtn {
  border-radius: 0px 10px 10px 0px;
}

.uploadBtn {
  border-radius: 10px 0px 0px 10px;
}

img {
  width: 70px;
  height: 70px;
}

button {
  background: #202020;
  color: #ffffff;
  width: auto;
  height: 40px;
  border: none;
  outline: none;
}

button:hover {
  background: #101010;
}

.main {
  display: flex;
  margin-top: 100px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  justify-content: center;
  padding: 25px 0 25px 0;
}

.messages {
  background: #101010;
  width: 500px;
  height: 500px;
  margin: 0 0 0 0;
  border-radius: 0 10px 10px 0;
}

.people {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background: #202020;
  width: 150px;
  height: inherit;
  padding: 0 0 0 0;
  border-radius: 10px 0 0 10px;
  margin: 0 0 0 0;
}

.person {
  display: flex;
  width: 150px;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.person img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
}

.person:hover {
  background: #101010;
}

.person:active {
  background: #101010;
}