body {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

img {
  width: 15%;
  height: 15%;
}

button {
  background: #202020;
  color: #ffffff;
  width: auto;
  height: 40px;
  border: none;
  outline: none;
}

button:hover {
  background: #101010;
}

.contacts {
  display: flex;
  justify-content: center;
  width: 100px;
  text-align: center;
  padding: none;
}

.people {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background: #202020;
  width: 100px;
  padding: none;
}

.person {
  width: 100px;
  height: 35px;
  padding: none;
}

.person img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.person:hover {
  background: #101010;
}